.massist-highlight {
  border: 0px solid transparent !important;
}

.massist-highlight-black {
  border: 4px solid gray !important;
}

.massist-highlight-red {
  border: 4px solid red !important;
}

.massist-highlight-orange {
  border: 3px solid orange !important;
}

.massist-highlight-yellow {
  border: 2px solid yellow !important;
}

.massist-highlight-green {
  border: 1px solid green !important;
}

.massist-hide {
  display: none !important;
}
